[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosql = "*"
sqlalchemy = "*"
typer = "*"
pydantic = "*"
alembic = "*"

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
build = "*"

[requires]
python_version = "3.9"
