[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosql = "===3.4.0"
sqlalchemy = "*"
typer = "*"
pydantic = "*"
alembic = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
build = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
